<div class="wrapper">
	<img
		src="../../../assets/logo/png/logo-no-background.png"
		alt="Graphify logo"
		style="left: 0; padding: 10px"
	/>
	<div class="buttons">
		<input
			type="file"
			id="fileInput"
			style="display: none"
			#fileInput
		/>
		<button
			class="btn"
			type="button"
			aria-expanded="false"
			(click)="import()"
			id="import-btn"
		>
			Import
		</button>
		<div class="dropdown">
			<button
				class="btn dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
				id="export-btn"
			>
				Export
			</button>
			<ul class="dropdown-menu">
				<li>
					<a
						class="dropdown-item"
						href="#"
						(click)="export('xml')"
						id="export-as-xml"
						>xml</a
					>
				</li>
				<li>
					<a
						class="dropdown-item"
						href="#"
						(click)="export('jpeg')"
						>jpeg</a
					>
				</li>
				<li>
					<a
						class="dropdown-item"
						href="#"
						(click)="export('png')"
						>png</a
					>
				</li>
			</ul>
		</div>
	</div>
</div>
