.wrapper {
    height: 100%;
    display: flex;
    position: relative;

    img {
        max-height: 100%;
        width: auto;
    }
}

.buttons {
    display: flex;
    align-items: end;
    padding: 12px;

    button {
        margin-right: 5px;
        border-radius: 5px;
        background-color: #35bff6;
    }
}